<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <title>FORMULARIO DE REGISTRO E INICIO SESIÓN</title>
</head>
<body>
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
                <input type="button" value="Iniciar Sesión" id="sign-in">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una Cuenta</h2>
                <div class="icons">
                    <a href="#" class="social-icon" title="Registrarse con Google">
                        <i class='bx bxl-google'></i>
                    </a>
                    <a href="#" class="social-icon" title="Registrarse con Facebook">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="#" class="social-icon" title="Registrarse con teléfono">
                        <i class='bx bx-phone'></i>
                    </a>
                </div>
                <p>o registrarse con email</p>
                <form class="form form-register" novalidate>
                    <div>
                        <label>
                            <i class='bx bx-user' ></i>
                            <input type="text" placeholder="Nombre" name="nombre" required>
                        </label>
                    </div>
                    <div>
                        <label >
                            <i class='bx bx-envelope' ></i>
                            <input type="email" placeholder="Correo Electrónico" name="email" required>
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-phone'></i>
                            <input type="tel" placeholder="Teléfono" name="telefono">
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-lock-alt' ></i>
                            <input type="password" placeholder="Contraseña" name="password" required 
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$"
                                   title="La contraseña debe tener entre 8 y 20 caracteres, incluir mayúsculas, minúsculas, números y caracteres especiales">
                            <i class='bx bx-show-alt toggle-password'></i>
                        </label>
                        <div class="password-requirements">
                            <p>La contraseña debe cumplir con:</p>
                            <ul>
                                <li id="length">Mínimo 8 caracteres</li>
                                <li id="uppercase">Al menos una mayúscula</li>
                                <li id="lowercase">Al menos una minúscula</li>
                                <li id="number">Al menos un número</li>
                                <li id="special">Al menos un carácter especial</li>
                            </ul>
                        </div>
                    </div>
                   
                    <input type="submit" value="Registrarse">
                    <div class="alerta-error">Todos los campos son obligatorios</div>
                    <div class="alerta-exito">Te registraste correctamente</div>
                </form>
            </div>
        </div>
    </div>


    <div class="container-form login hide">
        <div class="information">
            <div class="info-childs">
                <h2>¡¡Bienvenido nuevamente!!</h2>
                <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Iniciar Sesión</h2>
                <div class="icons">
                    <a href="#" class="social-icon" title="Iniciar sesión con Google">
                        <i class='bx bxl-google'></i>
                    </a>
                    <a href="#" class="social-icon" title="Iniciar sesión con Facebook">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="#" class="social-icon" title="Iniciar sesión con teléfono">
                        <i class='bx bx-phone'></i>
                    </a>
                </div>
                <p>o iniciar sesión con email</p>
                <form class="form form-login"novalidate>
                    <div>
                        <label >
                            <i class='bx bx-envelope' ></i>
                            <input type="email" placeholder="Correo Electronico" name="email">
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-lock-alt' ></i>
                            <input type="password" placeholder="Contraseña" name="password">
                            <i class='bx bx-show-alt toggle-password'></i>
                        </label>
                    </div>
                    <a href="/forgot-password">¿Olvidaste tu contraseña?</a>
                    <input type="submit" value="Iniciar Sesión">
                    <div class="alerta-error">Todos los campos son obligatorios</div>
                    <div class="alerta-exito">Te registraste correctamente</div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/password.js"></script>
</body>
</html>